/* color
---------------------------- */
$g-primary:#409eff;
$g-success:#67c23a;
$g-warning:#e6a23c;
$g-danger:#f56c6c;
$g-info:#909399;

$g-text-regular:#606266;
$g-border-color:#dcdfe6;
$g-border-color-hover:#c0c4cc;
$g-disabled-text-color:#888;
$g-disabled-background:#f5f7fa;    //默认 #f5f7fa
$g-toolbar-background:#e4e7ed;

/* size
---------------------------- */
$g-font-size-base: 18px;
$g-font-size-large: 20px;
$g-font-size-medium: 16px;
$g-font-size-small: 14px;

/* sidebar
---------------------------- */
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;


