.layout{
  position: relative;
  >.sidebar{
    position: absolute;
    left:0;
    top:0;
    width:200px;
    transition: all .2s;
  }
  >.main-container{
    position: absolute;
    left:200px;
    top:0;
    right:0;
    transition: all .2s;
  }
}
.layout.hide-sidebar{
  .sidebar{
    width:50px;
  }
  .main-container{
    left:50px;
  }
}
